<a href="https://colab.research.google.com/github/curtrode/60970/blob/main/notebooks/codeAlongs/WRIT20833_StrMethods_Conditionals_Loops_F25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Methods, Comparisons, Conditionals, Lists, and Loops

## String Methods
https://melaniewalsh.github.io/Intro-Cultural-Analytics/02-Python/06-String-Methods.html

### Read in String (via text file)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# read in Kafka's text file

sample_text = open("/content/drive/MyDrive/WRIT20833/Data/20833_Kafka_F22.txt", encoding="utf-8").read()

In [ ]:
print(sample_text)

In [ ]:
type(sample_text)

### Extract Parts of Strings

#### Index

In [ ]:
# Practice Index

#print(sample_text[-1])
#print(sample_text[-2])
print(sample_text[-4])
print(sample_text[-5])

#### Slice

In [ ]:
# Practice slice

# logic of the slicing syntax is "string[starting postion : number of steps]"


sample_text[:121] # leaving the starting position blank defaults to 0.

In [ ]:
# trying again from different starting position.

sample_text[121:250]

In [ ]:
# create and assign value to first_line variable

first_sentence = sample_text[:121]
print(first_sentence)

In [ ]:
second_sentence = sample_text[121:250]
print(second_sentence)

### Replace words

In [ ]:
# replace words

print(first_sentence.replace("morning" , "fateful evening"))

#first_sentence = first_sentence.replace("morning" , "fateful evening")

In [ ]:
# replace words

print(first_sentence.replace('vermin' , 'hamburger'))

In [ ]:
# Get goofy with it

print(first_sentence.replace(' ' , ' (OMFG I am a bug) '))

In [ ]:
print(second_sentence.replace('\n' , ' '))

### Uppercase / Lowercase

In [ ]:
print(first_sentence.upper())
print(' ') # what's the point of including this line?
print(first_sentence.lower())

### Split String by Delimiter

In [ ]:
first_sentence.split() # splits line into words using the space between words as delimiter

In [ ]:
new_first = first_sentence.split()

print(new_first)

In [ ]:
type(new_first)

In [ ]:
first_sentence.split("dreams") # explain what's happening here

###Join Strings by Delimiter

In [ ]:
kafka_split_words = first_sentence.split() # we assign the results of a string operation to a variable
kafka_split_words

In [ ]:
type(kafka_split_words) #notice the different data type that results

In [ ]:
"Football".join(kafka_split_words) # what do you expect to happen here?

In [ ]:
" ".join(kafka_split_words) # what should happen here?

In [ ]:
first_line

In [ ]:
#first_line.startswith('O')

list = []

for letter in first_line:
  if letter == "e":
    list.append(letter)

  #else:
  #  continue

print(len(list))

##Comparisons & Conditionals

"Writing Python code is a lot like writing a list of detailed instructions to the computer. Most of the time you will be asking the computer to perform certain tasks if certain conditions are met" (Walsh)

#### Comparisons

##### Greater Than (>) & Less Than (<)

In [ ]:
# indicated with traditional math symbol ">"

a = 3.14
b = 4.14

b > a # will produce a Boolean value

##### Not Equals (!=)

In [ ]:
# indicated with symbol "!="

b != a # will produce a Boolean value

##### And

In [ ]:
# indicated with the word "and." Both conditions need to be true for the boolean answer to be True

person1 = 30
person2 = 30.5

person1 >= 30 and person2 > 40

##### Or

In [ ]:
# indicated with the word "or." Only one of the conditions need to be true for the boolean answer to be True

person1 > 40 or person2 > 30

## Conditionals

##### If Statements

In [ ]:
TCU = 40
SMU = 170

if TCU >= SMU: # : means "please do the following"
  print("TCU rocks")

##### Else Statements

In [ ]:
TCU = "48"
SMU = "481"

if TCU >= SMU:
  print("TCU rocks")

else:
  print("Better luck next year")

In [ ]:
type(TCU) == int

In [ ]:
# another quick example that creates a function to determine whether or not a number is even or odd

def even(number):
  if number%2 == 0:  #remember that the % operator determines the remainder of x/y
    print("you have yourself an even number there")

  else:
    print("that looks odd to me")

In [ ]:
even(781)

In [ ]:
even(4325262362631)

In [ ]:
def math_machine(number):
  if number % 2 == 0:
    print("The number " + str(number) + " is even. It's square is " + str(number**2)+ ".")

  else:
    print("The number " + str(number) + " is not even. BTW, I hate math")

In [ ]:
math_machine(21)

##### Elif Statements

In [ ]:
TCU = 40
UNC = 40

if TCU > UNC:
  print("TCU rocks")

elif TCU == UNC:
  print("Time for OT")

else:
  print("Better luck next year")

In [3]:
owns_purple_shoes = True

day = "Thursday"

gameday = False

if day == "Friday":
  print("wear your shoes!")

elif gameday == True:
  print("definitely wear those shoes")

else:
  print("go back to your closet")

go back to your closet

#### Exercises

In [ ]:
a = "Hello "
b = "World "

if type(a) == type(b):
  print(a + b)
else:
  print("sorry, can't")

In [ ]:
numbers = [1,2,3,4,5]

for item in numbers:
  if item % 2 == 0:
    squared = item * item
    print(f"The number {item} is even. {item} * {item} = {squared}")
  else:
    print(f"I'm at a loss for what to do with the odd numbers like {item}")

## Lists & Loops

### Lists

In [ ]:
# After a point, using only individual variables to manage your data is impractical.
# One common way to organize and collect the data of several similar variables is through a list.

age1 = 30

age2 = 15

age3 = 56

age4 = 23

age = [30, 15, 56, 23] #here, the variable "age" has been assigned, not a single value, but a collection of values

print(age)
type(age)

#### Index

In [ ]:
# you can index lists like you can index strings

age = [30, 15, 56, 23]

print(age[0])
print(age[3])
print(age[-1])

#### Slice

In [ ]:
print(age[0:2]) # remember, the syntax is start at index 0 and take two steps forward

### List Methods

#### Add Items to List

In [ ]:
age

In [ ]:
age.append(203)
age #note this does revise the content of the list.

In [ ]:
age

In [ ]:
age.remove(15)
age #note this does revise the content of the list.

#### Sort List

In [ ]:
new_age = [1,15,37,25,89, 2, 45, 21]

new_age.sort(reverse=True)
new_age

####Extend List with Another List

In [ ]:
years = [1966, 1961, 1957]

names = ["Frank" , "Linda" , "Tony"]

years.extend(names)

print(years)

# It's clearly possible, but I believe a best practice in Python is to not mix data types in a single list.
# If you have multiple data types to associate with each other, it's better to use dictionaries, which will get to
# next week.

###For Loops

In [ ]:
"""
A basic basic for loop will consist of two lines:

On the first line, you type the English word "for," a new variable name for each item in the list, the English word
"in," the name of the list, and a colon (:)

On the second line, you indent and write an instruction or “statement” to be completed for each item in the list
"""


names = ["Frank" , "Linda" , "Tony" , "Michelle"]

for name in names:
    print(f"Person's name is {name}")

In [ ]:
years = [1966, 1961, 1957, 2002]

for year in years:
  print(year+85)

In [ ]:
years

In [ ]:
years = [1966, 1961, 1957, 1969, 1995, 1997]

for year in years:
  if year > 1964 and year <= 1980:
    print(f"{year}: Firmly GenX, so chill")
  elif year > 1980 and year < 1997:
    print(f"{year}: Def a Millenial")
  elif year >= 1997:
    print(f"{year}: GenZ or younger")
  else:
    print(f"{year}: Possible Boomer Alert!!!!")

In [ ]:
# Landen's example

foods = ['Mexican', 'Barbeque','Chinese','Soul Food']

for i in foods:
  if i == 'Mexican':
    print(f"{i} is my Favorite")
  elif i == 'Barbeque':
    print(f"{i} is my second favorite")
  else:
    print(f"{i} is still great")